/bag
/models/agilex_piper
/robots/new_cobot
/robots/unitree_mujoco
/scripts/trash
/roboclaw_ws
/Reinforcement_Learning/checkpoints
/Reinforcement_Learning/notebooks
/Reinforcement_Learning/trash
*.pkl
/Reinforcement_Learning/__pycache__
/Reinforcement_Learning/MUJOCO_LOG.TXT
/.venv
/.vscode
/mujoco